build/
cmake-build-*/
.idea/
.vscode/
*.user
*.xcuserstate
xcuserdata/
DerivedData/
.DS_Store
*.o
*.a
*.so
*.dylib
*.dll
*.exe
*.app
*.vst3
JUCE/
NeuralAmpModelerCore/
CMakeCache.txt
CMakeFiles/
compile_commands.json
.cache/
